<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
      <h1>Hi! {{user.name}}</h1>
      <p>We received a request to active your account.</p>
      <a href="electron-vite://active-account">
        Click here for active your account
      </a>
  </body>
</html>
