<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{subject}}</title>
</head>

<body>
  <h2>Asunto: {{subject}}</h2>
  <h3>
    Hola {{user.name}},
  </h3>
  <p>
    Gracias por comunicarte con nosotros. Para completar el proceso de cambio de contraseña, necesitamos verificar tu
    cuenta, necesitamos que ingreses el siguiente PIN en la aplicación:
  </p>
  <h2>
    PIN: {{pin}}
  </h2>
  <p>
    Este PIN es válido durante los próximos 1 minutos. Si no lo usas dentro de este tiempo, tendrás que solicitar un
    nuevo PIN.
    Si no has solicitado este PIN, por favor ignora este correo electrónico.
    Gracias por tu tiempo y esperamos verte pronto en nuestra aplicación.
    Saludos cordiales,
  </p>
  <p>
    [Nombre de tu empresa o aplicación]
  </p>
</body>

</html>