<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
      <h1>Hi! {{user.name}}</h1>
      <p>We received a request to reset your password.</p>
      <a href="electron-vite://forgot-password">
        Click here to reset your password
      </a>
  </body>
</html>
